{% set path = '../' %}
{% extends "basetmpl.html" %}
{% block head %}
<style>
    tfoot, th {
      text-align: center;
    }
    .parti {
      color: grey;
      font-weight:300;
    }
    .sortvote {
      font-weight: 500;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12">
    <div class="card horizontal {{ groupe['csscolor'] }}bg">
      <div class="card-image">
        <img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ acteur['uid'][2:] }}.jpg" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>{{ nomcomplet(acteur) }}</h4>
          <h5>{% for (k,v) in acteur['contacts'] %}
            {% if (k=="Mèl") %}
              <a href="mailto:{{ v }}"><i class="fa fa-envelope-o"></i></a>
            {% elif (k=='Twitter') %}
              <a href="https://twitter.com/{{ v[1:] }}"><i class="fa fa-twitter"></i></a>
            {% elif (k=='Facebook') %}
              <a href="https://fr-fr.facebook.com/{{ v }}"><i class="fa fa-facebook-square"></i></a>
            {% elif (k=='Site internet') %}
              <a href="http://{{ v }}"><i class="fa fa-globe"></i></a>

            {% endif %}
          {% endfor %}</h5>
          <h5><i class="fa fa-group {{ groupe['csscolor'] }}-text"></i> <a href="../groupes/{{ groupe['uid'] }}.html" class="{{ groupe['csscolor'] }}-text">{{ groupe['libelle'] }} ( {{ groupe['libelleAbrev'] }})</a></h5>
          <span>{{ acteur['profession.libelleCourant'] }}, né(e) le {{ acteur['etatCivil.infoNaissance.dateNais'] | fdate }} à {{ acteur['etatCivil.infoNaissance.villeNais'] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="fa fa-legal {{ groupe['csscolor'] }}-text"></i> Fonctions / Mandats</div>
        <div class="collapsible-body"><ul class="collection">
          {% for fct in acteur['fonctions'] %}<li class="collection-item">
            {% if fct['organe'] == groupe['uid'] %}{% set opath='groupes' %}{% else %}{% set opath='commissions' %}{% endif %}
            <i class="fa fa-play {{ groupe['csscolor'] }}-text"></i> {{ fct['qualite'] }} <a href="../{{ opath }}/{{ fct['organe'] }}.html" style="color:black; font-weight:500;">{{ organes[fct['organe']]['libelleEdition'] }}</a> (depuis le {{ fct['debut'] }})
          </li>{% endfor %}
        </ul></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-university {{ groupe['csscolor'] }}-text"></i> Hémicycle</div>
        <div class="collapsible-body">
          <object id="hemicycle" data="../hemicycle.svg" width='100%' type="image/svg+xml"></object>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-file-text-o {{ groupe['csscolor'] }}-text"></i> HATVP</div>
        <div class="collapsible-body">
          <ul class="collection">{% for dec in acteur['hatvp'] %}
            <li class="collection-item avatar">
              <a href="{{ dec['docurl'] }}" target="_blank" style="color:black;"><i class="fa fa-file-text-o circle" style="background: {{ groupe['svgcolor'] }}"></i>
              <span class="title" style="font-weight:450">{{ dec['typedoc'] }}</span>
              <p>{{ dec['qualite'] }}</p></a>
           </li>
          {% endfor %}</ul>

        </div>
      </li>
      <li>
        <div class="collapsible-header active"><i class="fa fa-hand-paper-o {{ groupe['csscolor'] }}-text"></i> Votes</div>
        <div class="collapsible-body">
          <div class="row">
				      <div class="col s12 m12">
                <ul class="collapsible" data-collapsible="expandable">
                  {% set first = True %}
                  {% for l in scrutins %}
                  <li>
                    {% set abs=acteur['stats']['absenteisme'][l['leg']] %}
                    <div class="collapsible-header{% if first %} active{% endif %}">{{ l['leg'] }}e législature<div class="right">Absenteisme {{ abs['tx'] }} % ({{ abs['votes']}} votes / {{ abs['total'] }})</div></div>
                    "
                    <div class="collapsible-body">
                      <div id="scrutins{{ l['leg'] }}">
                        <input class="search" placeholder="Recherche">
                        <table class="striped highlight">
                          <thead>
                            <tr><th>Date</th><th>Scrutin</th><th>Vote</th><th>Cause</th></tr>
                          </thead>
                          <tbody class="list">
                            {% for scrutin in l['scrutins'] %}<tr>
                              {% set as = acteur['votes'][scrutin['uid']] %}
                              <td>{{ scrutin['dateScrutin'] }}</td>
                              <td class="libelle" style="width:60%;"><a href="{{ '../scrutins/%s.html' % scrutin['uid'] }}">{{ scrutin['objet.libelle'] }}</a></td>
                              {% set vcolor = 'green' if as['vote']=='pour' else 'red' if as['vote']=='contre' else 'grey' %}
                              <td class="vote {{ vcolor }}-text text-darken-1 sortvote">{{ as['vote'] }}</td>
                              <td>{{ as['cause'] or "" }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </li>
                  {% set first=False %}
                  {% endfor %}
                </ul>
              </div>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
    {% for l in scrutins %}
      var scrutinsList = new List('scrutins{{ l['leg'] }}',{ valueNames: ['libelle']});
    {% endfor %}
  </script>
  <script>
    var svg = document.getElementById('hemicycle');
    svg.addEventListener('load', function () {
      //var svg = document.getElementById('hemicycle');
      var svgDoc = svg.contentDocument;
      var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
      styleElement.textContent = "#p{{ acteur['place'] }} { fill: {{ groupe['svgcolor']}}; }"; // add whatever you need here
      svgDoc.getElementById('defs').appendChild(styleElement);

    });
  </script>
{% endblock %}
