{% set path = '../' %}
{% extends "basetmpl.html" %}
{% block head %}
<style>
    tfoot, th {
      text-align: center;
    }
    .parti {
      color: grey;
      font-weight:300;
    }
    .sortvote {
      font-weight: 500;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col s12">
    <div class="card horizontal {{ color }} lighten-4">
      <div class="card-image">
        <img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ acteur['uid'][2:] }}.jpg" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4>{{ nomcomplet(acteur) }}</h4>
          <h5>{% for (k,v) in acteur['contacts'] %}
            {% if (k=="Mèl") %}
              <a href="mailto:{{ v }}"><i class="fa fa-envelope-o"></i></a>
            {% elif (k=='Twitter') %}
              <a href="https://twitter.com/{{ v[1:] }}"><i class="fa fa-twitter"></i></a>
            {% elif (k=='Facebook') %}
              <a href="https://fr-fr.facebook.com/{{ v }}"><i class="fa fa-facebook-square"></i></a>
            {% elif (k=='Site internet') %}
              <a href="http://{{ v }}"><i class="fa fa-globe"></i></a>

            {% endif %}
          {% endfor %}</h5>
          <h5><i class="fa fa-group {{ color }}-text"></i> {{ groupe['libelle'] }} ( {{ groupe['libelleAbrev'] }})</h5>
          <span> Né(e) le {{ acteur['etatCivil.infoNaissance.dateNais'] | fdate }} à {{ acteur['etatCivil.infoNaissance.villeNais'] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="collapsible-header"><i class="fa fa-legal"></i> Mandats</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fa fa-hand-paper-o"></i> Votes</div>
        <div class="collapsible-body">
          <table class="striped highlight">
            <thead>
              <tr><th>Date</th><th>Scrutin</th><th>Vote</th><th>Cause</th></tr>
            </thead>
            <tbody class="votes">
              {% for s in acteur['votes'] %}<tr>
                {% set as = acteur['votes'][s] %}
                <td>{{ scrutins[s]['dateScrutin'] }}</td>
                <td class="scrutin" style="width:60%;"><a href="{{ '../scrutins/%s.html' % s }}">{{ scrutins[s]['objet.libelle'] }}</a></td>
                {% set vcolor = 'green' if as['vote']=='pour' else 'red' if as['vote']=='contre' else 'grey' %}
                <td class="vote {{ vcolor }}-text text-darken-1 sortvote">{{ as['vote'] }}</td>
                <td>{{ as['cause'] or "" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script>
    var deputeList = new List('deputes',{ valueNames: ['nom','groupe','vote']});
    $('.filter').click(function() {
        var data = $(this).data();
        if ('all' in data) {
          deputeList.filter()
          return
        }
      deputeList.filter(function(item) {
        result = true;

        for(var key in data) {
          result = result && (item.values()[key] == data[key]);
        }
        return result;
      });
    });

  </script>
{% endblock %}
