<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>ObsAs</title>



  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  {% block head %}
  {% endblock %}
  {% macro nomcomplet(acteur) -%}{{ acteur['etatCivil.ident.civ'] }} {{ acteur['etatCivil.ident.prenom'] }} {{ acteur['etatCivil.ident.nom'] }}{%- endmacro %}
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">ObsAs</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path }}scrutins.html">Votes</a></li>
        <li><a href="{{ path }}groupes.html">Groupes</a></li>
        <!--<li><a href="/acteurs.html">Députés</a></li>-->
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <span>Date de mise à jour : {{ today }}</span>
      </div>
    </div>
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
<footer>
  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://use.fontawesome.com/57f4fc708a.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  {% block javascript %}
  {% endblock %}
</footer>

</html>
