<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>ObsAs</title>



  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  {% block head %}
  {% endblock %}
  {% macro nomcomplet(acteur) -%}{{ acteur['etatCivil.ident.civ'] }} {{ acteur['etatCivil.ident.prenom'] }} {{ acteur['etatCivil.ident.nom'] }}{%- endmacro %}
  {% macro stat_bloc(stats) -%}<div class="row">
    <div class="col l6 m12">
    <b>Parité</b>
    <canvas id="pariteChart"></canvas>
    </div>
    <div class="col l6 m12">
    <b>Répartition par familles socio-professionnelles</b>
    <canvas id="fspChart"></canvas>
  </div></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>

    <script>
    var ctx = document.getElementById("fspChart");
    var fsplabels = JSON.parse('{{ stats['fsp'].keys() | tojson | safe}}');
    var fspdata = JSON.parse('{{ stats['fsp'].values() | tojson | safe }}');
    var fspChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: fsplabels,
            datasets: [{
                data: fspdata,
                backgroundColor: ['rgba(239, 83, 80, 0.2)', 'rgba(126, 87, 194, 0.2)', 'rgba(41, 182, 246, 0.2)', 'rgba(102, 187, 106, 0.2)', 'rgba(255, 238, 88, 0.2)', 'rgba(236, 64, 122, 0.2)', 'rgba(92, 107, 192, 0.2)', 'rgba(38, 198, 218, 0.2)', 'rgba(156, 204, 101, 0.2)', 'rgba(255, 202, 40, 0.2)', 'rgba(171, 71, 188, 0.2)', 'rgba(66, 165, 245, 0.2)', 'rgba(38, 166, 154, 0.2)', 'rgba(212, 225, 87, 0.2)', 'rgba(255, 202, 40, 0.2)'],
                borderColor: ['rgba(239, 83, 80, 1)', 'rgba(126, 87, 194, 1)', 'rgba(41, 182, 246, 1)', 'rgba(102, 187, 106, 1)', 'rgba(255, 238, 88, 1)', 'rgba(236, 64, 122, 1)', 'rgba(92, 107, 192, 1)', 'rgba(38, 198, 218, 1)', 'rgba(156, 204, 101, 1)', 'rgba(255, 202, 40, 1)', 'rgba(171, 71, 188, 1)', 'rgba(66, 165, 245, 1)', 'rgba(38, 166, 154, 1)', 'rgba(212, 225, 87, 1)', 'rgba(255, 202, 40, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
              display: false
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    var ctx = document.getElementById("pariteChart");
    var parlabels = JSON.parse('{{ stats['parite'].keys() | tojson | safe}}');
    var pardata = JSON.parse('{{ stats['parite'].values() | tojson | safe }}');

    var parChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: parlabels,
            datasets: [{
                data: pardata,
                backgroundColor: ['rgba(239, 83, 80, 0.2)', 'rgba(126, 87, 194, 0.2)', 'rgba(41, 182, 246, 0.2)', 'rgba(102, 187, 106, 0.2)', 'rgba(255, 238, 88, 0.2)', 'rgba(236, 64, 122, 0.2)', 'rgba(92, 107, 192, 0.2)', 'rgba(38, 198, 218, 0.2)', 'rgba(156, 204, 101, 0.2)', 'rgba(255, 202, 40, 0.2)', 'rgba(171, 71, 188, 0.2)', 'rgba(66, 165, 245, 0.2)', 'rgba(38, 166, 154, 0.2)', 'rgba(212, 225, 87, 0.2)', 'rgba(255, 202, 40, 0.2)'],
                borderColor: ['rgba(239, 83, 80, 1)', 'rgba(126, 87, 194, 1)', 'rgba(41, 182, 246, 1)', 'rgba(102, 187, 106, 1)', 'rgba(255, 238, 88, 1)', 'rgba(236, 64, 122, 1)', 'rgba(92, 107, 192, 1)', 'rgba(38, 198, 218, 1)', 'rgba(156, 204, 101, 1)', 'rgba(255, 202, 40, 1)', 'rgba(171, 71, 188, 1)', 'rgba(66, 165, 245, 1)', 'rgba(38, 166, 154, 1)', 'rgba(212, 225, 87, 1)', 'rgba(255, 202, 40, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            legend: {
              display: false
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    </script>
    {%- endmacro %}
</head>
<body>
  <nav class="blue-grey darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">ObsAs</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ path }}scrutins.html">Votes</a></li>
        <li><a href="{{ path }}groupes.html">Groupes</a></li>
        <li><a href="{{ path }}acteurs.html">Députés</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <span>Date de mise à jour : {{ today }}</span>
      </div>
    </div>
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
<footer>
  <!--  Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://use.fontawesome.com/57f4fc708a.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  {% block javascript %}
  {% endblock %}
</footer>

</html>
