
{% extends "basetmpl.html" %}

{% block content %}
  <h4>Groupes</h4>
      <table class="striped highlight">
        <thead>
          <tr><th>Nom</th><th>Président</th><th>Nb membres</th></tr>
        </thead>
        <tbody>
        {% for grp in groupes %}<tr>
          <td><a href="groupes/{{ grp }}.html" class="{{ organes[grp]['csscolor'] }}-text" style="font-weight:500;"><i class="fa fa-group"></i> {{ organes[grp]['libelle'] }} ({{ organes[grp]['libelleAbrev'] }})</a></td>
            <td>{% if 'president' in organes[grp].keys() %}{{ nomcomplet(acteurs[organes[grp]['president']]) }}{% endif %}</td>
            <td>{{ organes[grp]['nbmembres'] }}</td>
          </tr>{% endfor %}
        </tbody>
      </table>

      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="fa fa-university"></i> Hémicycle</div>
          <div class="collapsible-body">
            <object id="hemicycle" data="hemicycle.svg" width='100%' type="image/svg+xml"></object>
          </div>
        </li>
        <li>
          <div class="collapsible-header active">Stats</div>
          <div class="collapsible-body">
            {{ stat_bloc(stats) }}
          </div>
        </li>
      </ul>
{% endblock %}
{% block javascript %}
<script>
  var svg = document.getElementById('hemicycle');
  svg.addEventListener('load', function () {
    //var svg = document.getElementById('hemicycle');
    var svgDoc = svg.contentDocument;
    var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
    styleElement.textContent = "{% for g in groupes %}path.{{g}} { fill: {{ groupes[g]['svgcolor']}}; }{% endfor %}"; // add whatever you need here
    svgDoc.getElementById('defs').appendChild(styleElement);

  });
</script>
{% endblock %}
