{% set path = '../' %}
{% extends "basetmpl.html" %}
{% block head %}
<style>
    tfoot, th {
      text-align: center;
    }
    .parti {
      color: grey;
      font-weight:300;
    }
</style>
{% endblock %}
{% block content %}
<div class="col s12">
  <div class="card {{ groupe['csscolor'] }}bg">
    <div class="card-content">
      <h4>{{ groupe['libelle'] }} ({{ groupe['nbmembres'] }} membres)</h4>
      {% if 'president' in groupe.keys() %}
      <h5>Président : {{ nomcomplet(acteurs[groupe['president']]) }}
      {% endif %}
    </div>
  </div>
  <ul class="collapsible" data-collapsible="expandable">
  <li><div class="collapsible-header active"><i class="fa fa-group {{ groupe['csscolor'] }}-text"></i>Membres</div>
      <div class="collapsible-body">
        <div id="membres">
          <input class="search" placeholder="Recherche">
          <table class="striped highlight centered">
            <thead>
              <tr><th>Photo</th><th>Nom</th><th>Contact</th><th>Circo.</th><th>Profession</th><th>Age</th></tr>
            </thead>
            <tbody class="list">
              {% for m in groupe['membres'] %}<tr>
                <td><a href="../acteurs/{{ acteurs[m]['uid'] }}.html"><img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ m[2:] }}.jpg" /></a></td>
                <td class="nom"><a href="../acteurs/{{ acteurs[m]['uid'] }}.html">{{ nomcomplet(acteurs[m]) }}</a></td>
                <td>{% for (k,v) in acteurs[m]['contacts'] %}
                  {% if (k=="Mèl") %}
                    <a href="mailto:{{ v }}"><i class="fa fa-envelope-o"></i></a>
                  {% elif (k=='Twitter') %}
                    <a href="https://twitter.com/{{ v[1:] }}"><i class="fa fa-twitter"></i></a>
                  {% elif (k=='Facebook') %}
                    <a href="https://fr-fr.facebook.com/{{ v }}"><i class="fa fa-facebook-square"></i></a>
                  {% elif (k=='Site internet') %}
                    <a href="http://{{ v }}"><i class="fa fa-globe"></i></a>

                  {% endif %}
                {% endfor %}</td>
                <td>{{ acteurs[m]['mandats'][0]['election.lieu.region'] }} / {{ acteurs[m]['mandats'][0]['election.lieu.departement'] }} / {{ acteurs[m]['mandats'][0]['election.lieu.numCirco'] }}</td>
                <td>{{ acteurs[m]['profession.libelleCourant'] or "" }}</td>
                <td>{{ acteurs[m]['age'] }} ans</td>


                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div></li>
      <li>
        <div class="collapsible-header"><i class="fa fa-university {{ groupe['csscolor'] }}-text"></i> Hémicycle</div>
        <div class="collapsible-body">
          <object id="hemicycle" data="../hemicycle.svg" width='100%' type="image/svg+xml"></object>
        </div>
      </li>
      <li><div class="collapsible-header"><i class="fa fa-bar-chart {{ groupe['csscolor'] }}-text"></i>Statistiques</div>
      <div class="collapsible-body">{{ stat_bloc(groupe['stats']) }}</div></li>

    </ul>
</div>
{% endblock %}
{% block javascript %}
  <script>
    var membreList = new List('membres',{ valueNames: ['nom']});
    $('.filter').click(function() {
        var data = $(this).data();
        if ('all' in data) {
          deputeList.filter()
          return
        }
      deputeList.filter(function(item) {
        result = true;

        for(var key in data) {
          result = result && (item.values()[key] == data[key]);
        }
        return result;
      });
    });

  </script>
  <script>
    var svg = document.getElementById('hemicycle');
    svg.addEventListener('load', function () {
      //var svg = document.getElementById('hemicycle');
      var svgDoc = svg.contentDocument;
      var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
      styleElement.textContent = "path.{{groupe['uid']}} { fill: {{ groupe['svgcolor']}}; }"; // add whatever you need here
      svgDoc.getElementById('defs').appendChild(styleElement);

    });
  </script>

{% endblock %}
