{% extends "basetmpl.html" %}
{% block content %}
      <div id="scrutins" class="col s12">
        <input class="search" placeholder="Recherche">
        <table class="striped highlight centered">
          <thead>
            <tr><th>Date</th><th>Libelle</th><th>Résultat</th><th>Votants</th><th>Pour</th><th>Contre</th><th>Abst.</th><th>NV</th></tr>
          </thead>
          <tbody class="list">
            {% for scrutin in scrutins %}<tr>
              <td>{{ scrutin['dateScrutin'] }}</td>
              <td width='50%' class="libelle"><a href="scrutins/{{ scrutin['uid']}}.html">{{ scrutin['objet.libelle'] }}</a></td>
              <td>{{ scrutin['sort.code']}}</td>
              <td>{{ scrutin['syntheseVote.nombreVotants'] }}</td>
              <td>{{ scrutin['syntheseVote.decompte.pour'] }}</td>
              <td>{{ scrutin['syntheseVote.decompte.contre'] }}</td>
              <td>{{ scrutin['syntheseVote.decompte.abstention'] }}</td>
              <td>{{ scrutin['syntheseVote.decompte.nonVotant'] }}</td>
            </tr>{% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
{% block javascript %}
  <script>
    var scrutinsList = new List('scrutins',{ valueNames: ['libelle']});
  </script>
{% endblock %}
