{% set path = '' %}
{% extends "basetmpl.html" %}
{% block head %}
<style>
    tfoot, th {
      text-align: center;
    }
    .parti {
      color: grey;
      font-weight:300;
    }
    .sortvote {
      font-weight: 500;
    }
    .vcircle {
      display:inline-block;
      height: 0.7em;
      width: 0.7em;
      border-radius: 50%;
      margin:2px;
    }
    .pour {
      background: green;
    }
    .contre {
      background: red;
    }
    .abstention {
      background: #666666;
    }
    .nonVotant {
      border-style:solid;
      border-width:1px;
    }
    .pour-text {
      color: green;
    }
    .contre-text {
      color: red;
    }
    .abstention-text {
      color: #666666;
    }
    .nonVotant-text {

    }
    .pctBig {
      font-size: 30px;
      font-weight: 500;
    }
    .pctSmall {
      font-size: 18px;
      font-weight: 500;
    }

</style>
{% endblock %}
{% macro votegroupe(gp) -%}
  <div class="card coul{{ groupes[gp]['libelleAbrev'] }}bg">
    <div class="card-content">
      <span class="card-title coul{{ groupes[gp]['libelleAbrev'] }}-text" style="font-weight:500;">{{ groupes[gp]['libelle'] }}</span>
      {% set vars = {'cl':'pctBig'} %}
      {% set icon = {'pour':'thumbs-up', 'contre':'thumbs-down', 'abstention':'ban','nonVotant':''} %}
      {% for pos in votegp[gp]['stats'] %}{% if pos!='nonVotant' and votegp[gp]['stats'][pos]>0 %}
        <span class="{{ vars['cl'] }} {{ pos }}-text"><i class="fa fa-{{ icon[pos] }}"></i> {{ votegp[gp]['stats'][pos] }} %</span>{% if vars.update({'cl':'pctSmall'}) %}{% endif %}
      {% endif %}{% endfor %}

      <div>{% for pos in ['pour','contre','abstention','nonVotant'] %}{% for v in votegp[gp][pos] %}
        <a  class="vcircle {{ pos }}" title="{{ acteurs[v]['nomcomplet'] }}" href="acteurs/{{ v }}.html" {% if pos=='nonVotant' %} style="border-color:{{ groupes[gp]['svgcolor'] }}"{% endif %}></a>{% endfor %}{% endfor %}
     </div>
    </div>

</div>{%- endmacro %}

{% block content %}
<div class="col s12">
  <h5>Scrutin n°1 : Confiance au gouvernement</h5>
  <div class="row">
    <div class="col s6 m6">
    {% for gp in ['PO730964','PO730970','PO730952'] %} {{ votegroupe(gp)}} {% endfor %}
    </div>
    <div class="col s6 m6">
    {% for gp in ['PO730958','PO730940','PO730946','PO723569','PO730934'] %} {{ votegroupe(gp)}} {% endfor %}
    </div>
</div>

<!-- <object id="hemicycle" data="hemicycle.svg" width='100%' type="image/svg+xml"></object> -->

{% endblock %}
{% block javascript %}
  <script>
  var svg = document.getElementById('hemicycle');
  svg.addEventListener('load', function () {
    //var svg = document.getElementById('hemicycle');
    var svgDoc = svg.contentDocument;
    var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
    styleElement.textContent = "{% for g in groupes %}path.{{g}} { fill: {{ groupes[g]['svgcolor']}}; }{% endfor %}"; // add whatever you need here
    styleElement.textContent = styleElement.textContent + " {{ css|safe }}";
    svgDoc.getElementById('defs').appendChild(styleElement);

  });

  </script>
{% endblock %}
